[Unit]
Description=Cheer Up Bot
After=mongodb.service
Requires=mongodb.service

[Service]
ExecStart=/usr/bin/nf start /opt/tgbot-cheerup/index.js

[Install]
WantedBy=multi-user.target
