[Unit]
Description=Cheer Up Bot
After=mongodb.service
Requires=mongodb.service

[Service]
WorkingDirectory=/opt/tgbot-cheerup/
ExecStart=/usr/bin/nf start -e /etc/tgbot-cheerup.env -j /opt/tgbot-cheerup/Procfile

[Install]
WantedBy=multi-user.target
